{% extends "base.html" %}

{% block title %}Chess Trainer – Blindfold Puzzles{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/chessground.base.css" />
<link rel="stylesheet" href="/static/css/chessground.brown.css" />
<link rel="stylesheet" href="/static/css/chessground.cburnett.css" />
<link rel="stylesheet" href="/static/css/board.css" />
{% endblock %}

{% block content %}
<div class="board-area">
  <div class="board-column">
    <div id="board"></div>
  </div>
  <div id="movelist"></div>
</div>

<script type="module">
  import { initBoard } from '/static/js/board.js';
  import { sendGoto } from '/static/js/api.js';

  initBoard({
    enableKeyboard: false,
    enableScroll: false,
    boardId: 'puzzles',
    animation: { enabled: false }
  }).then(({ syncBoard, attemptMove, ground }) => {
    ground.set({
      drawable: {
        enabled: true,
        onChange: (shapes) => {
          const arrow = shapes.find(s => s.orig && s.dest);
          if (arrow) {
            attemptMove(arrow.orig, arrow.dest, null).then(() => {
              ground.set({ drawable: { shapes: [] } });
            });
          }
        }
      }
    });

    sendGoto('puzzles', 0).then(syncBoard);
  });
</script>
{% endblock %}
